:root {
	--background-color: #cccccc;
	--hover-color: #bbccff;
	--font-color: #190000;
}

body {
	margin: 0;
	padding: 0;
}

body, div, span, p {
	background-color: var(--background-color);
	color: var(--font-color);
	font-family: "Times New Roman", serif;
}

@media screen and (min-width: 1001px) {
	body, div, span, p {
		font-size: 1.1em;
		letter-spacing: 0.09em;
	}
}

@media screen and (max-width: 1000px) {
	body, div, span, p {
		font-size: 5vw;
		letter-spacing: 0.09em;
	}
}

a:link, a:visited {
	display: inline-block;
	padding: 0px 25px;
	margin: 2px;
	border: 1px solid var(--font-color);
	border-radius: 2.5em;
	font-style: italic;
	text-align: center;
	text-decoration: none;
	background-color: var(--background-color);
	color: var(--font-color);
}

a:active, a:hover {
	display: inline-block;
	padding: 0px 25px;
	margin: 2px;
	border: 1px solid var(--font-color);
	border-radius: 2.5em;
	font-style: italic;
	text-align: center;
	text-decoration: none;
	background-color: var(--hover-color);
	color: var(--font-color);
}

a.at:link, a.at:visited, a.at:active, a.at:hover {
	display: inline-block;
	padding: 0px 25px;
	margin: 2px;
	border: 1px solid var(--font-color);
	border-radius: 2.5em;
	font-style: italic;
	text-align: center;
	text-decoration: none;
	background-color: var(--hover-color);
	color: var(--font-color);
}

.container {
	width: 1000px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.txt {
	width: 100%;
	border-top: 1px solid var(--font-color);
	text-align: left;
}

.txt-last {
	width: 100%;
	border-top: 1px solid var(--font-color);
	border-bottom: 1px solid var(--font-color);
	text-align: right;
}
