:root {
	--background-color: #eeeeee;
	--font-color: #111111;
}

body {
	margin: 0;
	padding: 0;
}

body, div, span, p {
	background-color: var(--background-color);
	color: var(--font-color);
	font-family: "Times New Roman", serif;
}

@media screen and (min-width: 1001px) {
	body, div, span, p {
		font-size: 1.1em;
		line-height: 1.3em;
		letter-spacing: 0.09em;
	}
}

@media screen and (max-width: 1000px) {
	body, div, span, p {
		font-size: 5vw;
		line-height: 1.3em;
		letter-spacing: 0.09em;
	}
}

a:link, a:visited, a:active, a:hover {
	border-bottom: 2px solid var(--font-color);
	font-style: italic;
	text-decoration: none;
	color: var(--font-color);
	background-color: var(--background-color);
}

a.oval:link, a.oval:visited, a.oval:active, a.oval:hover {
	display: inline-block;
	padding: 0px 25px;
	margin: 2px;
	border: 2px solid var(--font-color);
	border-radius: 2.5em;
	font-style: italic;
	text-align: center;
	text-decoration: none;
	color: var(--font-color);
	background-color: var(--background-color);
}

.container {
	width: 1000px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.page {
	width: 100%;
	border: 3px double var(--font-color);
	padding: 25px;
	text-align: left;
}

.row {
	width: 100%;
	border: none;
	margin-top: 125px;
	margin-bottom: 125px;
	text-align: center;
}
