:root {
	--background-color: #f3f3f3;
	--font-color: #111111;
}

html {
	margin: 0;
	min-height: 100%;
	background: var(--background-color);
}

div, span, p {
	color: var(--font-color);
	font-family: "Times New Roman", serif;
}

@media screen and (min-width: 1001px) {
	body, div, span, p {
		font-size: 2.5vw;
		line-height: 1.5em;
		letter-spacing: 0.09em;
	}
}

@media screen and (max-width: 1000px) {
	body, div, span, p {
		font-size: 5vw;
		line-height: 1.5em;
		letter-spacing: 0.09em;
	}
}

a:link, a:visited {
	color: var(--font-color);
	border-bottom: 5px solid var(--font-color);
	margin: 1px 15px;
	font-style: italic;
	text-decoration: none;
}

a:active, a:hover {
	color: var(--font-color);
	border-bottom: 1px solid var(--font-color);
	margin: 1px 15px;
	font-style: italic;
	text-decoration: none;
}

.container {
	width: 750px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.object1 {
	background-image: url("f/april_day_karel_zivny.jpg");
	background-size: cover;
	background-position: center;
	/* filter: grayscale(100%); */
	width: 750px;
	height: 750px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.row {
	width: 100%;
	border: none;
	margin-top: 125px;
	margin-bottom: 125px;
	text-align: center;
}
