body, div, span, p {
	font-family: "Courier New", monospace;
	color: #222222;
	background-color: #ffffff;
	line-height: 1.5;
}

a {
	color: #ce6418;
	border-bottom: 4px solid #ce6418;
	text-decoration: none;
}

a:active, a:hover {
	color: #ce6418;
	border-bottom: none;
	text-decoration: none;
}

.container {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.image {
	background-image: url("https://i.imgur.com/4zM1H3K.jpg");
	background-size: cover;
	background-position: center;
	width: 500px;
	height: 500px;
	border-radius: 250px;
	margin-top: 110px;
	margin-bottom: 110px;
	margin-left: auto;
	margin-right: auto;
}

.image-section {
	width: 100%;
}

.section {
	width: 100%;
	border-top: 1px solid #222222;
	text-align: center;
}