:root {
	--background-color: #f9f9f9;
	--font-color: #a74f24;
	--link-color: #111111;
}

body {
	margin: 0;
	padding: 0;
}

body, div, span, p {
	background-color: var(--background-color);
	color: var(--font-color);
	font-family: "Caslon", serif;
	font-size: 1.07em;
	letter-spacing: 0.07em;
	line-height: 1.5;
}

a {
	color: var(--link-color);
	border-bottom: none;
	text-decoration: none;
}

a:active, a:hover {
	color: var(--link-color);
	border-bottom: 3px solid var(--link-color);
	text-decoration: none;
}

.container {
	width: 770px;
	margin-left: auto;
	margin-right: auto;
}

.image {
	background-image: url("files/image.jpg");
	background-size: cover;
	background-position: center;
	width: 550px;
	height: 550px;
	border-radius: 300px;
	margin-top: 110px;
	margin-bottom: 110px;
	margin-left: auto;
	margin-right: auto;
}

.section-image {
	width: 100%;
}

.section {
	width: 100%;
	border-top: 1px solid var(--font-color);
	text-align: center;
}
