:root {
	--background-color: #f7f7f7;
	--font-color: #111111;
	--accent-color: #0e6d39;
}

body, div, span, p {
	font-family: "Helvetica", sans-serif;
	letter-spacing: 0.1em;
	line-height: 1.7;
	color: var(--font-color);
	background-color: var(--background-color);
}

a {
	color: var(--accent-color);
	border-bottom: 5px solid var(--accent-color);
	text-decoration: none;
}

a:active, a:hover {
	color: var(--accent-color);
	border-bottom: none;
	text-decoration: none;
}

.container {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.image {
	background-image: url("images/cover.jpg");
	background-size: cover;
	background-position: center;
	width: 600px;
	height: 600px;
	border-radius: 300px;
	margin-top: 110px;
	margin-bottom: 110px;
	margin-left: auto;
	margin-right: auto;
}

.image-section {
	width: 100%;
}

.section {
	width: 100%;
	border-top: 1px solid var(--font-color);
	text-align: center;
}
