:root {
	--background-color: #190000;
	--font-color: #ffffff;
}

body {
	margin: 0;
	padding: 0;
}

body, div, span, p {
	background-color: var(--background-color);
	color: var(--font-color);
	font-family: "Times New Roman", serif;
}

@media screen and (min-width: 1001px) {
	body, div, span, p {
		font-size: 1.1em;
		letter-spacing: 0.09em;
	}
}

@media screen and (max-width: 1000px) {
	body, div, span, p {
		font-size: 5vw;
		letter-spacing: 0.09em;
	}
}

a:link, a:visited {
	color: var(--font-color);
	border-bottom: 0.33em solid var(--font-color);
	text-decoration: none;
	font-style: italic;
}

a:active, a:hover {
	color: var(--font-color);
	border-bottom: none;
	text-decoration: none;
	font-style: italic;
}

a.before:link, a.before:visited, a.before:active, a.before:hover {
	background-color: var(--background-color);
	color: var(--font-color);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 0px 25px;
	margin: 2px;
	border: 1px solid var(--font-color);
	border-radius: 2.5em;
}

a.after:link, a.after:visited, a.after:active, a.after:hover {
	background-color: #ffffff;
	color: var(--font-color);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 0px 25px;
	margin: 2px;
	border: 1px solid var(--font-color);
	border-radius: 2.5em;
}

.container {
	width: 1000px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.object-container {
	width: 100%;
}

.object1 {
	background-image: url("f/1.jpg");
	background-size: cover;
	background-position: center;
	width: 750px;
	height: 750px;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.txt {
	width: 100%;
	border: none;
	margin-top: 125px;
	margin-bottom: 125px;
	text-align: center;
}
